@model IEnumerable<Infraestucture.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">

                <li>
                    @Html.ActionLink("Marcas", "Index", "Marca")
                </li>
                <li>
                    @Html.ActionLink("Usuarios", "Index", "Persona")
                </li>
                <li>
                    @Html.ActionLink("Roles", "Index", "Rol")
                </li>
                <li>
                    @Html.ActionLink("Proveedores", "Index", "Proveedor")
                </li>
                <li>
                    @Html.ActionLink("Producto", "Index", "Producto")
                </li>
                <li>
                    @Html.ActionLink("Ubicaciones", "Index", "Ubicacion")
                </li>
                <li>
                    @Html.ActionLink("Movimientos", "Index", "Movimiento")
                </li>
            </ul>

        </div>
    </div>
</nav>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modeloProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.nombreMarca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modeloProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantMaxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantMinima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.nombreMarca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.codProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codProducto })
        </td>
    </tr>
}

</table>
